
<p class="center"> Hot Streak is still under progress. 
    Please come back later to have full functionality!</p>
    
<p> Please find the current streaks below: </p>

<table class="table table-striped">
  <thead>
  <tr>
    <th> Edit/Delete </th>
    <th> Sl. No. </th>
    <th> Streak Name </th>
    <th> Streak Description </th>
    <th> Streak CLICK </th>
    <th> Streak Status </th>
    <th> Streak Number </th>
    <th> Streak Last Done Date </th>
    <!-- <th> Streak Reward Status </th> -->
    <th> Streak Start Date </th>
    <th> Streak Missed times </th>
    <!-- <th> Streak Missed Rank </th> -->
    <th> Streak Total Misses </th>
    <th> Streak Rank </th>
  </tr>    
  </thead>  
  <tbody>
  <tr *ngFor= "let streak of streaks; let i = index;" >
    <th scope="row">
      <div class="button-row">
        <button type="button" class="btn btn-primary" (click)="editStreak(i, streakModal)"><i class="fa fa-edit"></i></button>
        <button type="button" class="btn btn-danger" (click)="deleteStreak(i)"><i class="fa fa-trash"></i></button>
      </div>
    </th>
    <th scope="row"> {{i+1}} </th>
    <td>{{streak.name}}</td>
    <td>{{streak.description}}</td>
    <td></td>
    <td>{{streak.status}}</td>
    <td>{{streak.streak}}</td>
    <td>{{streak.last_done}}</td>
    <td>{{streak.started}}</td>
    <td>{{streak.missed}}</td>
    <td>{{streak.total_missed}}</td>
    <td>{{streak.category}}</td>
  </tr>
  </tbody>  
</table>

<br>
<p> Click to enter a new Streak that you wish to undertake: </p>
<div class="col-md-2">
    <button type="button" class="btn btn-primary" (click)="addStreak(streakModal)"><i class="fa fa-plus"></i> Add</button>
  </div>

<br>
<p> Things to Add in Additional Infos: </p>
<ol>
    <li> Streak frequency</li>
    <li> Streak Achievement list with days</li>
    <li> Streak Achievement Reward list with days</li>
    <li> Streak Achievement Awards already claimed in pipeline </li>
    <li> Streak Misses list with days</li>
</ol>


<p> These are the settings for your Hot Streak module: </p>

<p> NA </p>



<ng-template #streakModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Enter a New Streak:</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group full-width-input">
          <label>Name</label>
          <input class="form-control" placeholder="Streak Name" formControlName="name" required>
        </div>
        <div class="form-group full-width-input">
          <label>Description</label>
          <input class="form-control" formControlName="description">
        </div>
        <!-- <div class="form-group full-width-input">
          <label>Frequency</label>
          <input class="form-control" placeholder="1,2,3" formControlName="frequency">
        </div> -->
        <div class="form-group full-width-input">
          <label>Category</label>
          <input class="form-control" placeholder="Active/Passive" formControlName="category">
        </div>    

        <div class="button-row">
          <button type="button" class="btn btn-primary" (click)="modalCallback()">Submit</button>
          <button type="button" class="btn btn-light" (click)="onCancel()">Cancel</button>
        </div>
      </form>
    </div>
  </ng-template>