
<p class="center"> Hot Streak is still under progress. 
    Please come back later to have full functionality!</p>
    
<p> Please find the current streaks below: </p>

<table>
    <tr>
        <th> Sl. No. </th>
        <th> Streak Name </th>
        <th> Streak Number </th>
        <th> Streak CLICK </th>
        <th> Streak Status </th>
        <th> Streak Rank </th>
        <th> Streak Last Done Date </th>
        <th> Streak Reward Status </th>
        <th> Streak Start Date </th>
        <th> Streak Missed times </th>
        <th> Streak Missed Rank </th>
        <th> Streak Total Misses </th>
    </tr>
</table>

<br>
<p> Click to enter a new Streak that you wish to undertake: </p>
<div class="col-md-2">
    <button type="button" class="btn btn-primary" (click)="addToDo(toDoModal)"><i class="fa fa-plus"></i> Add</button>
  </div>

<br>
<p> Things to Add in Additional Infos: </p>
<ol>
    <li> Streak frequency</li>
    <li> Streak Achievement list with days</li>
    <li> Streak Achievement Reward list with days</li>
    <li> Streak Achievement Awards already claimed in pipeline </li>
    <li> Streak Misses list with days</li>
</ol>


<p> These are the settings for your Hot Streak module: </p>

<p> NA </p>



<ng-template #toDoModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Enter a New Streak:</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group full-width-input">
          <label>Name</label>
          <input class="form-control" placeholder="Streak Name" formControlName="name" required>
        </div>
        <div class="form-group full-width-input">
          <label>Description</label>
          <input class="form-control" formControlName="description">
        </div>
        <!-- <div class="form-group full-width-input">
          <label>Frequency</label>
          <input class="form-control" placeholder="1,2,3" formControlName="frequency">
        </div> -->
        <div class="form-group full-width-input">
          <label>Category</label>
          <input class="form-control" placeholder="Active/Passive" formControlName="category">
        </div>    

        <div class="button-row">
          <button type="button" class="btn btn-primary" (click)="modalCallback()">Submit</button>
          <button type="button" class="btn btn-light" (click)="onCancel()">Cancel</button>
        </div>
      </form>
    </div>
  </ng-template>